
.ExtendedContainer{
    display: flex;
    padding: 10px 30px;
    margin: 0 auto;
    max-width: 1360px;
    gap: 60px;
}
.ExtendedCard{
    /*background: rgba(235, 237, 246, 0.27);*/
    font-family: Proxima Nova,Roboto,system-ui,Tahoma,sans-serif;
}
.ExtendedInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.ExtendedTitle{
    font-size: 26px;
}
.ExtendedSelector{
    background-color: #f3f3f3;
    border-radius: 10px;
    display: grid;
    flex-direction: column;
    padding: 20px;
    max-width: 520px;
    width: 100%;
}

.ExtendedSelector ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.ExtendedSelector li {
    border: 1px solid #fff;
    border-radius: 6px;
    background-color: #f3f3f3;
    cursor: pointer;
    flex: 1 1;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    transition: background,color .5s ease-in-out;
}
.ExtendedSelector ul li.active{
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    cursor: auto;
    transition: .5s ease-in-out;
}
.ExtendedSelector ul li.disabled{
    opacity: 0.4;
    pointer-events: none;
}
.ExtendedSelector li:hover{
    background-color: #dedede;
    color: #fff;
    transition: .5s ease-in-out;
}
.ExtendedSize span {
    color: #000;
    font-size: 23px;
}
.ExtendedSize ul{
    color: gray;
    margin-top: 7px;
}
.ExtendedSize ul li{
    margin-bottom: 10px;
    font-size: 18px;
}
.slider{
    max-width: 630px;
    width: 50%;
}
.sliderImage{
    width: 100%;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
}
.ExtendedImpo{
    background-color: #f3f3f3;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    cursor: default;
}
.ExtendedBtn{
    /*background: #EFDDD0;*/
    background: rgba(224, 175, 160, 0.68);
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid rgba(224, 175, 160, 0.68);
    padding: 14px;
    cursor: pointer;
    max-width: 520px;
    width: 100%;
    border-radius: 5px;
}
.ExtendedBottom{
    display: flex;
    justify-content: space-between;
}
.ExtendedBtn:hover{
    background: white;
    color: rgba(224, 175, 160, 0.68);
    transition: .5s ease-in-out;
}
.ExtendedPrice{
    font-size: 25px;
}
table{
    margin-top: 20px;
    max-width: 520px;
    width: 100%;
    font-size: 16px;
    border-collapse: separate;
    white-space: nowrap;
}
table tr:first-child {
    background: #F0F0F0;
}
table td:first-child {
    background: #F0F0F0;
    font-weight: 500;
}
table td {
    font-size: 14px;
    line-height: 140%;
    padding: 9px;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    transition: .2s ease-in-out;
}
.ExtendedClose{
    background: transparent;
    border: none;
    cursor: pointer;
}
.ExtendedClose img {
    width: 40px;
}
.ExtendedLink{
    font-family: 'Circe',Arial,sans-serif;
    opacity: .8;
    font-weight: 400;
    cursor: pointer;
    color: #000000;
    font-size: 12px;
    background: transparent;
    border: none;
    margin-left: 25px;

}
.ExtendedLink:before{
    content: '←\a0';
    position: absolute;
    top: 24px;
    left: 18px;
}
.ExtendedNav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ExtendedError{
    color: rgb(230, 15, 15);
    font-size: 14px;
    margin-bottom: 10px;
}
.ExtendedSend{
    display: flex;
    flex-direction: column;
}
.ExtendedCheck button{
    cursor: pointer;
    background: transparent;
    border: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.ExtendedCheck button:hover{
    color: #ff7878;
}
.ExtendedCheck span{
    border-bottom: 1px dotted;
}
.ImgCheck{
    width: 25px;
    margin-right: 10px;

}
.ModalList{
    position: absolute;
    top: 45px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.IsColor{
    display: flex;
}
.IsColor p:first-child{
    margin-right: 20px;
}
.IsColor label{
    margin-left: 5px;
}
.RadioColor{
    display: none;
}

.radioText{
    position: relative;
    padding-left: 20px;
    display: inline-block;
    cursor: pointer;
}
.radioText::before{
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    display: block;
    top: 0;
    left: -5px;
    border: 1px solid #000000;
    border-radius: 50%;

}
.radioText::after{
    content: '';
    position: absolute;
    top: 4px;
    left: -1px;
    background: #8d8d8d;
    opacity: 0;
    display: block;
    width: 10.5px;
    height: 10.5px;
    transition: .2s ease-in-out;
    border-radius: 50%;
}

.RadioColor:checked+.radioText::after{
    opacity: 1;
}

.pricemin{
    text-decoration: line-through;
    font-size: 20px;
}
.red{
    color: rgb(230, 15, 15);
}

.select {
    max-width: 308px;
    width: 100%;
    height: 52px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #121212;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    box-sizing: border-box;
}
.closeAll{
    width: 100%;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 5px 10px 5px rgb(0 0 0 / 10%);
    padding: 5px;
}
.closeAll:hover{
    color: rgba(224, 175, 160, 0.68);
}
.label {
    max-width: 308px;
    width: 100%;
    display: flex;
    font-size: 12px;
    color: #999999;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}

.ExitActive{
    animation: fade-out 500ms forwards;
}
.EnterActive{
    animation: fade-in 500ms forwards;
}

@keyframes fade-out {
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        transform: translateX(100px);
        opacity: 0;
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 1050px) {
    .ExtendedContainer{
        gap: 40px;
    }
}

@media (max-width: 850px) {
    .ExtendedContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px 30px;
    }
    .ExtendedInfo{
        width: 100%;
    }
    .slider{
        width: 100%;
        max-width: 100%;
    }
    .ExtendedTitle{
        text-align: center;
    }
    .ExtendedBtn{
        max-width: 100%;
        width: 100%;
        border-radius: 5px;
    }
    .IsColor p:first-child{
        margin-right: 10px;
    }
    .IsColor{
        font-size: 14px;
    }
}