.navBlock{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}
.Main{
    background: #ffffff;
    position: relative;
}
.navItem{
    font-size: 25px;
    list-style-type: none;
    font-family: 'Circe',Arial,sans-serif;
    font-weight: 700;
    cursor: pointer;

}

.navItem:hover{
    transition: .5s ease-in-out;
    box-shadow: 0 3px 0px -1px #d2d0d0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-row-gap: 65px;
    justify-content: space-between;
    /*grid-column-gap: 75px;*/
    padding: 0 40px;
    max-width: 1220px;
    margin: 30px auto 50px;

}

.mainTitle{
    color: #BF1818;
    font-size: 30px;
    margin-top: -50px;
}
.mainSubTitle{
    font-size: 17px;
}

.sale{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bag{
    position: sticky;
    top: 20px;
    margin-right: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.bag img{
    width: 70px;
    padding: 15px;
}
.bagContainer{
    position: relative;
    background-color: rgba(255,255,255,.8);
    border-radius: 50px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    will-change: transform;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out,-webkit-transform 0.2s ease-in-out;
    overflow: hidden;
    display: flex;

}
.svgBag{
    width: 40px;
    height: 40px;
    stroke: #000;
    margin: 18px 20px 22px;
}

.bagContainer:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.content{
    position: relative;
}

.count{
    width: 30px;
    height: 30px;
    background-color: red;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: -3px;
    bottom: -3px;
    text-align: center;
    line-height: 30px;
    font-family: Arial,Helvetica,sans-serif;
}
@media (max-width: 1060px) {
    .cards{
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        grid-column-gap: 70px;

    }
}
@media (max-width: 750px) {
    .cards{
        display: flex;
        flex-wrap: wrap;
    }
    .mainTitle{
        font-size: 25px ;
    }

}
@media (max-width: 640px) {
    .bagContainer{
        width: 60px;
        height: 60px;

    }
    .bag img{
        width: 70px;
        padding: 10px;
    }
    .svgBag{
        margin: 12px 13px 14px;
    }
}
@media (max-width: 500px) {
    .mainTitle{
        margin-top: 40px;
    }
    .bag{
        margin-top: -80px;
    }
}

