@import url(https://fonts.googleapis.com/css?family=Montserrat);
.navBlock{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.Main{
    background: #ffffff;
    position: relative;
}

.bag{
    position: sticky;
    top: 20px;
    width: 80px;
    left: 100%;
    margin-right: 30px;
    margin-top: -70px;
    display: flex;
    justify-content: flex-end;
}
.bag img{
    width: 70px;
    padding: 15px;
}
.bagContainer{
    position: relative;
    background-color: rgba(255,255,255,.8);
    border-radius: 50px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    will-change: transform;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out,-webkit-transform 0.2s ease-in-out;
    overflow: hidden;
    display: flex;

}
.svgBag{
    width: 40px;
    height: 40px;
    stroke: #000;
    margin: 18px 20px 22px;
}

.bagContainer:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.content{
}

.count{
    width: 30px;
    height: 30px;
    background-color: red;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: -3px;
    bottom: -3px;
    text-align: center;
    line-height: 30px;
    font-family: Arial,Helvetica,sans-serif;
}

@media (max-width: 640px) {
    .bagContainer{
        width: 60px;
        height: 60px;

    }
    .bag{
        width: 60px;
    }
    .bag img{
        width: 70px;
        padding: 10px;
    }
    .svgBag{
        margin: 12px 13px 14px;
    }
}
@media (max-width: 550px) {
    .bag{
        margin-top: -320px;
    }
    .content{
        margin-top: 70px;
    }

}
@media (max-width: 500px) {
    .mainTitle{
        margin-top: 40px;
    }
}

