.navbar{

}
.links{
    display: flex;
    justify-content: center;
    gap: 30px;
    /*font-family: Proxima Nova, Roboto, system-ui, Tahoma, sans-serif;*/
    font-weight: 700;
}
.link a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    cursor: pointer;

}
/*.link{*/
/*    position: relative;*/
/*}*/
.menu img{
    width: 30px;
    height: 30px;
}
.menu{
    background: transparent;
    border: none;
    position: absolute;
    top: 20px;
    left: 20px;
    /*display: block;*/
}
.burger{
    display: none;
}
.closeBar{
    background: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}
.closeBar img{
    width: 35px;
    height: 35px;

}
.mobileLinks{
    position: fixed;
    transition: 1s;
    height: 100vh;
    background: #fff;
    top: 0;
    max-width: 400px;
    width: 100%;
    padding: 60px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.mobileNav{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    backdrop-filter: blur(2px);
    overflow: hidden;
    z-index: 30;
    transform: translateX(-100%);
    transition: 0.5s;
}
.mobileNav.active{
    transform: translateX(0);
    transition: 0.5s;
    overflow: hidden;
}
@media (max-width: 750px) {
    .links{
        display: none;
    }
    .burger{
        display: block;
    }
    .link{
        margin-bottom: 30px;
    }
    .link a{
        font-size: 20px;
    }
}
