.Cart{
    font-family: Proxima Nova,Roboto,system-ui,Tahoma,sans-serif;
}
.CartTitle{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
}
.CartTitle img{
    width: 35px;
    height: 35px;
}
.Title{
    font-size: 30px;
}
.CartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e9e9e9;
    max-width: 900px;
    padding: 35px;
    margin: 0 auto 50px;
    border-radius: 5px;
    position: relative;
    background: rgba(235, 237, 246, 0.27);
    overflow-y: hidden;
}
.CartImg{
    width: 300px;
    margin-bottom: 20px;

}

.ProductWrap{
    max-width: 900px;
    width: 100%;
}
.ProductsList{
    max-width: 900px;
    margin: auto;

}
.ProductItem{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e9e9e9;
}
.ProductItem:first-child{
    border: none;
    padding-top: 0;
    margin-top: 0;
}
.ProductImage{
    min-width: 200px;

}
.ProductBtn{
    height: 32px;
    min-width: 32px;
    cursor: pointer;
    padding: 0;
    border-radius: 30px;
    background: transparent;
    border: 2px solid #94a0b2;
    color: #94a0b2;
}
.ProductBtn:hover{
    background: #94a0b2;
    color: #fff;
    transition: all .5s ease-in-out;
}
.ProductBtn span{
    font-size: 20px;
    margin-top: 1px;
}
.ProductImage img{
    border-radius: 8px;
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.ProductInfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}
.ProductTitle{
    margin: auto 0;
    width: 40%;
}
.ProductNav{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.ProductName{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 27px;
    text-transform: uppercase;
}
.ProductSize{
    color: #8d8d8d;
    font-size: 18px;
}
.ProductAmount{
    margin: auto 0;
    gap: 15px;
    display: flex;
    font-size: 22px;
    font-weight: 600;
}

.ProductPrice{
    margin: auto 0;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .01em;
}
.ProductDelete{
    margin: auto 0;
    height: 32px;
    min-width: 32px;
    cursor: pointer;
    padding: 0;
    border-radius: 30px;
    background: transparent;
    border: 1px solid #cecdcc;
    color: #cecdcc;
}
.ProductDelete:hover{
    background: #cecdcc;
    color: #fff;
    transition: all .5s ease-in-out;
}
.ProductsDetails{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.ProductsDetails span{
    font-size: 22px;
}
.price b{
    color: rgba(224, 175, 160, 0.68);
}
.ProductButtons{
    display: flex;
    justify-content: space-between;
}
.CartBack{
    border: 1px solid #94a0b2;
    border-radius: 30px;
    background: #fff;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    transition: .5s ease-in-out;
    color: #94a0b2;
    font-weight: 600;
}
.CartBack:hover{
    /*background: #c3c3c3;*/
    background: #94a0b2;
    color: #fff;
}
.CartOrder{
    border: 1px solid rgba(224, 175, 160, 0.68);
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    transition: .5s ease-in-out;

    font-weight: 600;
    background: rgba(224, 175, 160, 0.68);
    color: #fff;
}
.CartOrder:hover{
    background: #fff;
    color: rgba(224, 175, 160, 0.68)  ;
}
.ProductsDetailsTitle{
    display: flex;
    flex-direction: column;
}
.CartSubtitle{
    text-align: center;
    color: red;
    margin-bottom: 15px;
    font-size: 28px;
}
.pricemin{
    text-decoration: line-through;
    font-size: 18px;
}
.red{
    color: rgb(230, 15, 15);
}
.CartError{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    color: red;
    margin-right: 15px;
}
.alert{
    position: absolute;
    bottom: 40px;
    margin-left: -150px;
    left: 50%;
    width: 300px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #f8d7da;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f8d7da;
    font-size: 14px;
}
.alertBtn{
    border: none;
    background: transparent;
    cursor: pointer;
}
.alertBtn img{
    width: 30px;
}

.alert span{
    margin: auto 0;
}
.color{
    color: #797878;
    border-color: #797878;
}
.ExitActive{
    animation: fade-out 1s forwards;
}
.EnterActive{
    animation: fade-in 1s forwards;
}
.ExitActiveAlert{
    animation: alert-out 1s forwards;
}
.EnterActiveAlert{
    animation: alert-in 1s forwards;
}

@keyframes fade-out {
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        transform: translateX(100px);
        opacity: 0;
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes alert-out {
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        transform: translateY(100px);
        opacity: 0;
    }
}
@keyframes alert-in {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@media (max-width: 860px) {
    .ProductTitle{
        width: 30%;
    }
    .ProductNav{
        width: 70%;
    }
}

@media (max-width: 750px) {
    /*.ProductTitle{*/
    /*    margin: auto 0;*/
    /*}*/
    .ProductInfo{
        display: flex;
        flex-direction: column;
    }
    .ProductTitle{
        width: 100%;
    }
    .ProductNav{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .ProductItem{
        flex-direction: column;
    }
    .ProductImage img{
        border-radius: 8px;
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    .Title{
        font-size: 20px;
    }
    .CartSubtitle{
        font-size: 24px;
    }
    .ProductsDetails{
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }
    .ProductsDetails span{
       margin-bottom: 5px;
    }
    .ProductButtons{
        flex-direction: column-reverse;
    }
    .ProductButtons button{
        margin-bottom: 15px;
    }
}