

.collections{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}
.collectionsContainer{
    padding: 0 40px;
    max-width: 1220px;
    margin: 10px auto 50px;
}
.CollectionTitle{
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Comfortaa', cursive;
}

@media (max-width: 750px) {
    .collections{
       display: flex;
        flex-direction: column;


    }
}