
.Header{
    position: relative;
}
.HeaderImage{
    background: url("../../assets/background3.jpg");
    background-position: bottom;
    background-size: cover;
    width: 100vm;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blockTitle{
    font-family: 'Inria Serif', serif;
    color: white;
    letter-spacing: 2.5px;
    cursor: pointer;
}
.title{
    letter-spacing: 15px;
    font-size: 80px;
    font-weight: 400;
}
@media (max-width: 800px) {
    .title{
        font-size: 60px;
    }
}
@media (max-width: 570px) {
    .title{
        letter-spacing: 10px;
        font-size: 44px;
        font-weight: 400;
    }
    .HeaderImage{
        height: 300px;
    }
}
.subTitle{
    font-family: 'Comfortaa', cursive;
}
