.HeaderImage{
    background: url("../../assets/background3.jpg");
    background-position: bottom;
    background-size: cover;
    width: 100vm;
    height: 400px   ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blockTitle{
    font-family: 'Inria Serif';
    color: white;
    letter-spacing: 2.5px;
}
.title{
    letter-spacing: 15px;
    font-size: 80px;
    font-weight: 400;
}
@media (max-width: 800px) {
    .title{
        font-size: 60px;
    }
}
@media (max-width: 570px) {
    .title{
        letter-spacing: 10px;
        font-size: 44px;
        font-weight: 400;
    }
}
/*@media (max-width: 500px) {*/
/*    .title{*/
/*        letter-spacing: 15px;*/
/*        font-size: 50px;*/
/*        font-weight: 400;*/
/*    }*/
/*}*/
.subTitle{
    font-family: 'Circe',Arial,sans-serif;
    font-style: italic;
}
/*.logo img{*/
/*    width: 50px;*/
/*}*/
/*.logo{*/
/*    position: absolute;*/
/*    top: 20px;*/
/*    left: 20px;*/
/*    font-size: 30px;*/
/*    font-family: 'Georgia';*/
/*}*/